<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Airplanes>
        <!-- 18/18 Airplanes -->
        <Airplane Reference="Airbus A320-1" MaxFuel="1000" MaxSpeed="20000" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Airbus A320-2" MaxFuel="1000" MaxSpeed="20000" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Tecnam FHCSK-1" MaxFuel="700" MaxSpeed="500" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Tecnam FHCSK-2" MaxFuel="700" MaxSpeed="500" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Piper J3-1" MaxFuel="700" MaxSpeed="500" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Piper J3-2" MaxFuel="700" MaxSpeed="500" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Boeing 737-1" MaxFuel="1000" MaxSpeed="20000" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Boeing 737-2" MaxFuel="1000" MaxSpeed="20000" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Antonov AN225-1" MaxFuel="1000" MaxSpeed="20000" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Antonov AN225-2" MaxFuel="1000" MaxSpeed="20000" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Aero L39 Albatros-1" MaxFuel="1000" MaxSpeed="20000" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Aero L39 Albatros-2" MaxFuel="1000" MaxSpeed="20000" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Piper PA28-1" MaxFuel="1000" MaxSpeed="600" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Piper PA28-2" MaxFuel="1000" MaxSpeed="600" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="American XB68-1" MaxFuel="1000" MaxSpeed="20000" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="American XB68-2" MaxFuel="1000" MaxSpeed="20000" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Global 7500-1" MaxFuel="1000" MaxSpeed="20000" ComFreq="0" X="0" Y="0"/>

        <Airplane Reference="Global 7500-2" MaxFuel="1000" MaxSpeed="20000" ComFreq="0" X="0" Y="0"/>
    </Airplanes>

    <!-- 8/8 Airports-->
    <Airports>
        <Airport Name="Dublin" AirplaneMax="3" X="3" Y="4"/>

        <!--        <Airport Name="Stockholm" AirplaneMax="3" X="14" Y="1"/>-->
        <Airport Name="Stklm" AirplaneMax="3" X="14" Y="1"/>

        <Airport Name="Moscow" AirplaneMax="2" X="28" Y="1"/>
        <Airport Name="Vienna" AirplaneMax="2" X="17" Y="9"/>
        <Airport Name="Paris" AirplaneMax="2" X="8" Y="9"/>

        <!--        <Airport Name="Istanbul" AirplaneMax="3" X="24" Y="14"/>-->
        <Airport Name="Istbl" AirplaneMax="3" X="24" Y="14"/>

        <Airport Name="Madrid" AirplaneMax="3" X="3" Y="15"/>
        <Airport Name="Alger" AirplaneMax="3" X="8" Y="19"/>
    </Airports>

    <Flights>
        <!-- 20 / 28 Flights Enabled -->
        <!-- Paris <=> Vienna -->
        <Flight StartAirportX="8" StartAirportY="9" DestinationAirportX="17" DestinationAirportY="9" Enabled="true">
            <pos X="9" Y="9"/>
            <pos X="10" Y="9"/>
            <pos X="11" Y="9"/>
            <pos X="12" Y="9"/>
            <pos X="13" Y="9"/>
            <pos X="14" Y="9"/>
            <pos X="15" Y="9"/>
            <pos X="16" Y="9"/>
        </Flight>
        <!-- Dublin <=> Madrid -->
        <Flight StartAirportX="3" StartAirportY="4" DestinationAirportX="3" DestinationAirportY="15" Enabled="true">
            <pos X="3" Y="5"/>
            <pos X="3" Y="6"/>
            <pos X="3" Y="7"/>
            <pos X="3" Y="8"/>
            <pos X="3" Y="9"/>
            <pos X="3" Y="10"/>
            <pos X="3" Y="11"/>
            <pos X="3" Y="12"/>
            <pos X="3" Y="13"/>
            <pos X="3" Y="14"/>
        </Flight>
        <!-- Paris <=> Alger -->
        <Flight StartAirportX="8" StartAirportY="9" DestinationAirportX="8" DestinationAirportY="19" Enabled="true">
            <pos X="8" Y="10"/>
            <pos X="8" Y="11"/>
            <pos X="8" Y="12"/>
            <pos X="8" Y="13"/>
            <pos X="8" Y="14"/>
            <pos X="8" Y="15"/>
            <pos X="8" Y="16"/>
            <pos X="8" Y="17"/>
            <pos X="8" Y="18"/>
        </Flight>
        <!-- Stockholm <=> Moscow -->
        <Flight StartAirportX="14" StartAirportY="1" DestinationAirportX="28" DestinationAirportY="1" Enabled="true">
            <pos X="15" Y="1"/>
            <pos X="16" Y="1"/>
            <pos X="17" Y="1"/>
            <pos X="18" Y="1"/>
            <pos X="19" Y="1"/>
            <pos X="20" Y="1"/>
            <pos X="21" Y="1"/>
            <pos X="22" Y="1"/>
            <pos X="23" Y="1"/>
            <pos X="24" Y="1"/>
            <pos X="25" Y="1"/>
            <pos X="26" Y="1"/>
            <pos X="27" Y="1"/>
        </Flight>
        <!-- Madrid <=> Alger -->
        <Flight StartAirportX="3" StartAirportY="15" DestinationAirportX="8" DestinationAirportY="19" Enabled="true">
            <pos X="4" Y="16"/>
            <pos X="5" Y="17"/>
            <pos X="6" Y="18"/>
            <pos X="7" Y="19"/>
        </Flight>
        <!-- Paris <=> Madrid -->
        <Flight StartAirportX="8" StartAirportY="9" DestinationAirportX="3" DestinationAirportY="15" Enabled="true">
            <pos X="7" Y="10"/>
            <pos X="6" Y="11"/>
            <pos X="5" Y="12"/>
            <pos X="4" Y="13"/>
            <pos X="3" Y="14"/>
        </Flight>
        <!-- Vienna <=> Istanbul -->
        <Flight StartAirportX="17" StartAirportY="9" DestinationAirportX="24" DestinationAirportY="14" Enabled="true">
            <pos X="18" Y="10"/>
            <pos X="19" Y="11"/>
            <pos X="20" Y="12"/>
            <pos X="21" Y="13"/>
            <pos X="22" Y="14"/>
            <pos X="23" Y="14"/>
        </Flight>
        <!-- Alger <=> Istanbul -->
        <Flight StartAirportX="8" StartAirportY="19" DestinationAirportX="24" DestinationAirportY="14" Enabled="true">
            <pos X="9" Y="19"/>
            <pos X="10" Y="19"/>
            <pos X="11" Y="19"/>
            <pos X="12" Y="19"/>
            <pos X="13" Y="19"/>
            <pos X="14" Y="19"/>
            <pos X="15" Y="19"/>
            <pos X="16" Y="19"/>
            <pos X="17" Y="19"/>
            <pos X="18" Y="19"/>
            <pos X="19" Y="19"/>
            <pos X="20" Y="18"/>
            <pos X="21" Y="17"/>
            <pos X="22" Y="16"/>
            <pos X="23" Y="15"/>
        </Flight>
        <!-- Paris <=> Istanbul -->
        <Flight StartAirportX="8" StartAirportY="9" DestinationAirportX="24" DestinationAirportY="14" Enabled="true">
            <pos X="9" Y="10"/>
            <pos X="10" Y="11"/>
            <pos X="11" Y="12"/>
            <pos X="12" Y="13"/>
            <pos X="13" Y="13"/>
            <pos X="14" Y="13"/>
            <pos X="15" Y="13"/>
            <pos X="16" Y="13"/>
            <pos X="17" Y="13"/>
            <pos X="18" Y="13"/>
            <pos X="19" Y="13"/>
            <pos X="20" Y="13"/>
            <pos X="21" Y="13"/>
            <pos X="22" Y="13"/>
            <pos X="23" Y="13"/>
        </Flight>
        <!-- Alger <=> Dublin -->
        <Flight StartAirportX="8" StartAirportY="19" DestinationAirportX="3" DestinationAirportY="4" Enabled="false">
            <pos X="8" Y="18"/>
            <pos X="8" Y="17"/>
            <pos X="8" Y="16"/>
            <pos X="8" Y="15"/>
            <pos X="8" Y="14"/>
            <pos X="7" Y="13"/>
            <pos X="6" Y="12"/>
            <pos X="5" Y="11"/>
            <pos X="4" Y="10"/>
            <pos X="3" Y="9"/>
            <pos X="3" Y="8"/>
            <pos X="3" Y="7"/>
            <pos X="3" Y="6"/>
            <pos X="3" Y="5"/>
        </Flight>
        <!-- Madrid <=> Istanbul -->
        <Flight StartAirportX="3" StartAirportY="15" DestinationAirportX="24" DestinationAirportY="14" Enabled="true">
            <pos X="4" Y="15"/>
            <pos X="5" Y="15"/>
            <pos X="6" Y="15"/>
            <pos X="7" Y="15"/>
            <pos X="8" Y="15"/>
            <pos X="9" Y="15"/>
            <pos X="10" Y="15"/>
            <pos X="11" Y="15"/>
            <pos X="12" Y="15"/>
            <pos X="13" Y="15"/>
            <pos X="14" Y="15"/>
            <pos X="15" Y="15"/>
            <pos X="16" Y="15"/>
            <pos X="17" Y="15"/>
            <pos X="18" Y="15"/>
            <pos X="19" Y="15"/>
            <pos X="20" Y="15"/>
            <pos X="21" Y="15"/>
            <pos X="22" Y="15"/>
            <pos X="23" Y="15"/>
        </Flight>
        <!-- Moscow <=> Istanbul -->
        <Flight StartAirportX="28" StartAirportY="1" DestinationAirportX="24" DestinationAirportY="14" Enabled="true">
            <pos X="28" Y="2"/>
            <pos X="28" Y="3"/>
            <pos X="28" Y="4"/>
            <pos X="28" Y="5"/>
            <pos X="28" Y="6"/>
            <pos X="28" Y="7"/>
            <pos X="28" Y="8"/>
            <pos X="28" Y="9"/>
            <pos X="28" Y="10"/>
            <pos X="27" Y="11"/>
            <pos X="26" Y="12"/>
            <pos X="25" Y="13"/>
        </Flight>
        <!-- Dublin <=> Paris -->
        <Flight StartAirportX="3" StartAirportY="4" DestinationAirportX="8" DestinationAirportY="9" Enabled="true">
            <pos X="4" Y="5"/>
            <pos X="5" Y="6"/>
            <pos X="6" Y="7"/>
            <pos X="7" Y="8"/>
        </Flight>
        <!-- Alger <=> Vienna -->
        <Flight StartAirportX="8" StartAirportY="19" DestinationAirportX="17" DestinationAirportY="9" Enabled="true">
            <pos X="9" Y="18"/>
            <pos X="10" Y="17"/>
            <pos X="11" Y="16"/>
            <pos X="12" Y="15"/>
            <pos X="13" Y="14"/>
            <pos X="14" Y="13"/>
            <pos X="15" Y="12"/>
            <pos X="16" Y="11"/>
            <pos X="17" Y="10"/>
        </Flight>
        <!-- Istanbul <=> Stockholm -->
        <Flight StartAirportX="24" StartAirportY="14" DestinationAirportX="14" DestinationAirportY="1" Enabled="true">
            <pos X="24" Y="13"/>
            <pos X="24" Y="12"/>
            <pos X="24" Y="11"/>
            <pos X="24" Y="10"/>
            <pos X="23" Y="9"/>
            <pos X="22" Y="8"/>
            <pos X="21" Y="7"/>
            <pos X="20" Y="6"/>
            <pos X="19" Y="5"/>
            <pos X="18" Y="4"/>
            <pos X="17" Y="3"/>
            <pos X="16" Y="2"/>
            <pos X="15" Y="1"/>
        </Flight>
        <!-- Dublin <=> Stockholm -->
        <Flight StartAirportX="3" StartAirportY="4" DestinationAirportX="14" DestinationAirportY="1" Enabled="true">
            <pos X="4" Y="3"/>
            <pos X="5" Y="2"/>
            <pos X="6" Y="1"/>
            <pos X="7" Y="1"/>
            <pos X="8" Y="1"/>
            <pos X="9" Y="1"/>
            <pos X="10" Y="1"/>
            <pos X="11" Y="1"/>
            <pos X="12" Y="1"/>
            <pos X="13" Y="1"/>
        </Flight>
        <!-- Paris <=> Stockholm -->
        <Flight StartAirportX="8" StartAirportY="9" DestinationAirportX="14" DestinationAirportY="1" Enabled="true">
            <pos X="8" Y="8"/>
            <pos X="8" Y="7"/>
            <pos X="9" Y="6"/>
            <pos X="10" Y="5"/>
            <pos X="11" Y="4"/>
            <pos X="12" Y="3"/>
            <pos X="13" Y="2"/>
        </Flight>
        <!-- Moscow <=> Vienna -->
        <Flight StartAirportX="28" StartAirportY="1" DestinationAirportX="17" DestinationAirportY="9" Enabled="true">
            <pos X="27" Y="2"/>
            <pos X="26" Y="3"/>
            <pos X="25" Y="4"/>
            <pos X="24" Y="5"/>
            <pos X="23" Y="6"/>
            <pos X="22" Y="7"/>
            <pos X="21" Y="8"/>
            <pos X="20" Y="9"/>
            <pos X="19" Y="9"/>
            <pos X="18" Y="9"/>
        </Flight>
        <!-- Dublin <=> Moscow -->
        <Flight StartAirportX="3" StartAirportY="4" DestinationAirportX="28" DestinationAirportY="1" Enabled="true">
            <pos X="4" Y="3"/>
            <pos X="5" Y="3"/>
            <pos X="6" Y="3"/>
            <pos X="7" Y="3"/>
            <pos X="8" Y="3"/>
            <pos X="9" Y="3"/>
            <pos X="10" Y="3"/>
            <pos X="11" Y="3"/>
            <pos X="12" Y="3"/>
            <pos X="13" Y="3"/>
            <pos X="14" Y="3"/>
            <pos X="15" Y="3"/>
            <pos X="16" Y="3"/>
            <pos X="17" Y="3"/>
            <pos X="18" Y="3"/>
            <pos X="19" Y="3"/>
            <pos X="20" Y="3"/>
            <pos X="21" Y="3"/>
            <pos X="22" Y="3"/>
            <pos X="23" Y="3"/>
            <pos X="24" Y="3"/>
            <pos X="25" Y="3"/>
            <pos X="26" Y="3"/>
            <pos X="27" Y="2"/>
        </Flight>
        <!-- Stockholm <=> Vienna -->
        <Flight StartAirportX="14" StartAirportY="1" DestinationAirportX="17" DestinationAirportY="9" Enabled="true">
            <pos X="15" Y="2"/>
            <pos X="16" Y="3"/>
            <pos X="17" Y="4"/>
            <pos X="17" Y="5"/>
            <pos X="17" Y="6"/>
            <pos X="17" Y="7"/>
            <pos X="17" Y="8"/>
        </Flight>
        <!-- Vienna <=> Dublin -->
        <Flight StartAirportX="17" StartAirportY="9" DestinationAirportX="3" DestinationAirportY="4" Enabled="true">
            <pos X="16" Y="8"/>
            <pos X="15" Y="7"/>
            <pos X="14" Y="6"/>
            <pos X="13" Y="5"/>
            <pos X="12" Y="4"/>
            <pos X="11" Y="4"/>
            <pos X="10" Y="4"/>
            <pos X="9" Y="4"/>
            <pos X="8" Y="4"/>
            <pos X="7" Y="4"/>
            <pos X="6" Y="4"/>
            <pos X="5" Y="4"/>
            <pos X="4" Y="4"/>

        </Flight>
        <!-- Alger <=> Stockholm -->
        <Flight StartAirportX="8" StartAirportY="19" DestinationAirportX="14" DestinationAirportY="1" Enabled="true">
            <pos X="9" Y="19"/>
            <pos X="10" Y="18"/>
            <pos X="11" Y="17"/>
            <pos X="12" Y="16"/>
            <pos X="13" Y="15"/>
            <pos X="14" Y="14"/>
            <pos X="14" Y="13"/>
            <pos X="14" Y="12"/>
            <pos X="14" Y="11"/>
            <pos X="14" Y="10"/>
            <pos X="14" Y="9"/>
            <pos X="14" Y="8"/>
            <pos X="14" Y="7"/>
            <pos X="14" Y="6"/>
            <pos X="14" Y="5"/>
            <pos X="14" Y="4"/>
            <pos X="14" Y="3"/>
            <pos X="14" Y="2"/>
        </Flight>
        <!-- Moscow <=> Madrid -->
        <Flight StartAirportX="28" StartAirportY="1" DestinationAirportX="3" DestinationAirportY="15" Enabled="false">
            <pos X="28" Y="2"/>
            <pos X="27" Y="3"/>
            <pos X="26" Y="4"/>
            <pos X="25" Y="5"/>
            <pos X="24" Y="6"/>
            <pos X="23" Y="7"/>
            <pos X="22" Y="8"/>
            <pos X="21" Y="9"/>
            <pos X="20" Y="10"/>
            <pos X="19" Y="11"/>
            <pos X="18" Y="12"/>
            <pos X="17" Y="13"/>
            <pos X="16" Y="14"/>
            <pos X="15" Y="15"/>
            <pos X="14" Y="15"/>
            <pos X="13" Y="15"/>
            <pos X="12" Y="15"/>
            <pos X="11" Y="15"/>
            <pos X="10" Y="15"/>
            <pos X="9" Y="15"/>
            <pos X="8" Y="15"/>
            <pos X="7" Y="15"/>
            <pos X="6" Y="15"/>
            <pos X="5" Y="15"/>
            <pos X="4" Y="15"/>
        </Flight>
        <!-- Paris <=> Moscow -->
        <Flight StartAirportX="8" StartAirportY="9" DestinationAirportX="28" DestinationAirportY="1" Enabled="false">
            <pos X="9" Y="9"/>
            <pos X="10" Y="9"/>
            <pos X="11" Y="9"/>
            <pos X="12" Y="9"/>
            <pos X="13" Y="9"/>
            <pos X="14" Y="8"/>
            <pos X="15" Y="7"/>
            <pos X="16" Y="6"/>
            <pos X="17" Y="5"/>
            <pos X="18" Y="4"/>
            <pos X="19" Y="3"/>
            <pos X="20" Y="2"/>
            <pos X="21" Y="1"/>
            <pos X="22" Y="1"/>
            <pos X="23" Y="1"/>
            <pos X="24" Y="1"/>
            <pos X="25" Y="1"/>
            <pos X="26" Y="1"/>
            <pos X="27" Y="1"/>
        </Flight>
        <!-- Alger <=> Moscow -->
        <Flight StartAirportX="8" StartAirportY="19" DestinationAirportX="28" DestinationAirportY="1" Enabled="false">
            <pos X="9" Y="19"/>
            <pos X="10" Y="19"/>
            <pos X="11" Y="18"/>
            <pos X="12" Y="17"/>
            <pos X="13" Y="16"/>
            <pos X="14" Y="15"/>
            <pos X="15" Y="14"/>
            <pos X="16" Y="13"/>
            <pos X="17" Y="12"/>
            <pos X="18" Y="11"/>
            <pos X="19" Y="10"/>
            <pos X="20" Y="9"/>
            <pos X="21" Y="8"/>
            <pos X="22" Y="7"/>
            <pos X="23" Y="6"/>
            <pos X="24" Y="5"/>
            <pos X="25" Y="4"/>
            <pos X="26" Y="3"/>
            <pos X="27" Y="2"/>
        </Flight>
        <!-- Dublin <=> Istanbul -->
        <Flight StartAirportX="3" StartAirportY="4" DestinationAirportX="24" DestinationAirportY="14" Enabled="false">
            <pos X="4" Y="4"/>
            <pos X="5" Y="4"/>
            <pos X="6" Y="4"/>
            <pos X="7" Y="4"/>
            <pos X="8" Y="5"/>
            <pos X="9" Y="6"/>
            <pos X="10" Y="7"/>
            <pos X="11" Y="8"/>
            <pos X="12" Y="9"/>
            <pos X="13" Y="10"/>
            <pos X="14" Y="11"/>
            <pos X="15" Y="12"/>
            <pos X="16" Y="13"/>
            <pos X="17" Y="14"/>
            <pos X="18" Y="14"/>
            <pos X="19" Y="14"/>
            <pos X="20" Y="14"/>
            <pos X="21" Y="14"/>
            <pos X="22" Y="14"/>
            <pos X="23" Y="14"/>
        </Flight>
        <!-- Madrid <=> Vienna -->
        <Flight StartAirportX="3" StartAirportY="15" DestinationAirportX="17" DestinationAirportY="9" Enabled="false">
            <pos X="4" Y="15"/>
            <pos X="5" Y="15"/>
            <pos X="6" Y="15"/>
            <pos X="7" Y="15"/>
            <pos X="8" Y="15"/>
            <pos X="9" Y="15"/>
            <pos X="10" Y="15"/>
            <pos X="11" Y="15"/>
            <pos X="12" Y="14"/>
            <pos X="13" Y="13"/>
            <pos X="14" Y="12"/>
            <pos X="15" Y="11"/>
            <pos X="16" Y="10"/>
        </Flight>
        <!-- Madrid <=> Stockholm -->
        <Flight StartAirportX="3" StartAirportY="15" DestinationAirportX="14" DestinationAirportY="1" Enabled="false">
            <pos X="3" Y="14"/>
            <pos X="3" Y="13"/>
            <pos X="3" Y="12"/>
            <pos X="4" Y="11"/>
            <pos X="5" Y="10"/>
            <pos X="6" Y="9"/>
            <pos X="7" Y="8"/>
            <pos X="8" Y="7"/>
            <pos X="9" Y="6"/>
            <pos X="10" Y="5"/>
            <pos X="11" Y="4"/>
            <pos X="12" Y="3"/>
            <pos X="13" Y="2"/>
        </Flight>
    </Flights>
</Configuration>
